/* SusiDNS "Camo" theme (aka "dark") */
/* Author: dr|z3d */

@import url(/themes/console/dark/global.css);
@import url(../images/images.css);
@import url(images/images.css);
@import url(../lazyload.css);

:root{--nav_selected:radial-gradient(at center 115%,rgba(0,72,0,.4) 0,#0000 80%),linear-gradient(180deg,#010,#002900)}

::selection{background:rgba(0,187,0,.99);color:#000;text-shadow:none}
a:link,#filter a:visited{color:#494;text-decoration:none;font-weight:700;outline:none}
a:visited{color:#7b7;text-decoration:none}
a:hover,a:focus{text-decoration:none;color:#f60}
a:active{color:#f90}
.iframed body{margin:0;background:none}
body,input,input[type=submit],input[type=reset],.fakebutton,#hostNotes td:last-child,#addNotes{font-family:var(--bodyfont)}
body{margin:0 10px;padding-top:5px;min-width:650px;line-height:1.2;background:repeating-linear-gradient(90deg,rgba(0,16,0,.5) 2px,rgba(0,25,0,.5) 4px),repeating-linear-gradient(180deg,#000 2px,#020 4px),#010;background-size:4px 100%,100% 4px}
form[action="addressbook"]>p.buttons,#filter,#search,#visualid tr:last-child td,#buttons,#add p.buttons,#import p.buttons{box-shadow:var(--bevel);background:repeating-linear-gradient(90deg,rgba(0,0,0,.5) 2px,rgba(0,16,0,.5) 4px),linear-gradient(180deg,#020,#000 75%);background-size:4px 100%,100%}
form[action="addressbook"]>p.buttons{margin:-13px -3px 0;padding:8px 5px;border:var(--border)}
form[action="export"]>#buttons{margin-top:15px;padding:0 0 10px;border:var(--border);background:#000}
h3,.b32link,.buttons,.helper,#add,#buttons,#filter,#host_list img,#host_list td a::after,#host_list th,#import,#navi{user-select:none}
hr{margin:5px 0;width:100%;height:1px;display:none;text-align:center;border:0;background:#242}
html{background:none}
input#exporthosts:active{background:#f60 var(--download_active) no-repeat center center/16px}
input#exporthosts:hover{background:#000 var(--download_hover) no-repeat center center/16px}
input#exporthosts{margin:7px 6px 0 4px;padding:0;width:28px;height:28px;min-width:0;display:inline-block;font-size:0;background:var(--download) no-repeat center center/16px,var(--th)}
input{margin:2px 4px 2px 0;padding:5px;min-width:64px;text-align:left;font-size:8.5pt;color:#494;border:var(--border_hard);border-radius:1px;background:none}
input[type=file]::file-selector-button{margin:5px 10px 2px 2px;padding:6px 12px;min-width:92px}
input[type=submit],input[type=reset],.fakebutton{margin:5px 2px}
input[type=submit]:last-of-type,input[type=reset]:last-of-type{margin-right:5px}
input[type=text]{padding:7px;user-select:text}
input.update{margin-left:5px}
input#exporthosts{font-size:0!important}
li{margin:0;line-height:1.5;list-style:square;font-size:9pt;color:var(--ink)}
ol,ul{margin:0 20px 0 10px;display:table-row}
p.book{padding-left:35px}
p.buttons,#buttons{margin:5px 0 -5px;padding:0 3px;text-align:right}
p{color:var(--ink);margin:0 0 4px;font-size:9pt;text-align:justify}
td{padding:5px;vertical-align:middle;color:var(--ink);font-size:9pt}
textarea,.destaddress,#helpconfig li b{font-family:var(--monospaced)}
textarea,#subsLog ul{padding:3px 5px;width:100%;height:120px;line-height:1.4;font-weight:700;border:var(--border);box-shadow:var(--highlight)}
textarea[cols="70"]{width:100%;height:40px}
textarea[name="config"]{height:250px;overflow-y:scroll;resize:none}
textarea:focus{filter:none}
th{padding:5px 10px;text-align:left;color:var(--ink);font-size:8.5pt}
.active{color:#ff6}
.fakebutton,.fakebutton:visited{color:#494}
.fakebutton:hover,.fakebutton:focus{color:#f60}
.fakebutton{margin-right:3px}
#page{margin:10px 0;padding:0 5px;position:relative;color:var(--ink);font-size:9pt}

/* topnav */
#navi{margin:-16px auto 24px;padding:5px 3px;position:sticky;top:-1px;z-index:999;text-align:center;border:var(--border_hard);border-radius:0 1px 2px 2px;box-shadow:var(--bevel),0 2px 2px 2px rgba(0,0,0,.4);background:var(--topnav)}
.iframed #navi{margin:-6px -15px 27px;padding:5px 0;position:static;border:var(--border_hard);border-right:0;border-left:0;border-radius:0}
#navi a:link{text-transform:capitalize}
#navi a:first-child{border-radius:2px 0 0 2px}
#navi a:last-child{border-radius:0 2px 2px 0}
#navi a,#navi a:visited{margin:1px -4px;padding:6px 8px 6px 25px;position:relative;display:inline-block;line-height:1;color:#494;text-shadow:1px 1px 1px #000;border:var(--border_hard);box-shadow:var(--highlight),inset 0 0 1px 1px #040}
#navi a:hover,#navi a:focus{z-index:10;color:#f60;box-shadow:var(--highlight),inset 0 0 1px 1px rgba(255,128,0,.8);background:#000}
#navi a:active{box-shadow:var(--highlight),inset 4px 4px 4px rgba(0,0,0,.85);color:var(--ink);text-shadow:none}
#navi a.abook{background:var(--abook) no-repeat 6px center/14px,var(--nav),var(--abook_hover)}
#navi a.abook:hover,#navi a.abook:focus{background:#000 var(--abook_hover) no-repeat 6px center/14px}
#navi a.abook:active{background:#f60 var(--abook_active) no-repeat 6px center/14px}
#navi a.abook.selected{background:var(--abook) no-repeat 6px center/14px,var(--nav_selected)}
#navi a#subs{background:var(--subs) no-repeat 6px center/14px,var(--nav),var(--subs_hover)}
#navi a#subs:hover,#navi a#subs:focus{background:#000 var(--subs_hover) no-repeat 6px center/14px}
#navi a#subs:active{background:#f60 var(--subs_active) no-repeat 6px center/14px}
#navi a#subs.selected{background:var(--subs) no-repeat 6px center/14px,var(--nav_selected)}
#navi a#configlink{background:var(--configure) no-repeat 6px center/14px,var(--nav),var(--configure_hover)}
#navi a#configlink:hover,#navi a#configlink:focus{background:#000 var(--configure_hover) no-repeat 6px center/14px}
#navi a#configlink:active{background:#f60 var(--configure_active) no-repeat 6px center/14px}
#navi a#configlink.selected{background:var(--configure) no-repeat 6px center/14px,var(--nav_selected)}
#navi a#overview{background:var(--overview) no-repeat 6px center/14px,var(--nav),var(--overview_hover)}
#navi a#overview:hover,#navi a#overview:focus{background:#000 var(--overview_hover) no-repeat 6px center/14px}
#navi a#overview:active{background:#f60 var(--overview_active) no-repeat 6px center/14px}
#navi a#overview.selected{background:var(--overview) no-repeat 6px center/14px,var(--nav_selected)}
#navi a.selected{pointer-events:none}

/* pagenav */
#current,#next,#prev{font-size:11pt;text-shadow:none}
#current{padding:3px 10px;display:inline-block;vertical-align:middle;text-align:center;font-size:11pt;color:var(--ink);border-left:var(--border_hard);border-right:var(--border_hard)}
#current,#next a,#prev a{box-shadow:var(--highlight)}
#filtered,#paginate,#results{margin-right:4px;float:right;word-spacing:0;letter-spacing:0;text-transform:none}
#filtered,#results{margin:-5px 4px -3px;padding:4px 12px;display:inline-block;float:none;vertical-align:middle;line-height:1.4;font-size:80%;border-radius:4px;box-shadow:var(--highlight);background:#1318}
#filtered:empty,#results:empty{display:none}
#paginate,#showing{display:inline-block}
#paginate{margin:-2px 68px -1px 0;position:relative;overflow:hidden;font-size:0;text-align:center;border:var(--border_hard);background:var(--th)}
#next,#prev{margin-top:-1px;position:relative;display:inline-block;line-height:0;vertical-align:middle}
#next.inactive,#prev.inactive{padding:10px 16px;border:0}
#next a,#prev a{margin:0;padding:10px 16px;font-size:0}
#next.inactive,#prev.inactive{opacity:.4;pointer-events:none}
#next::after,#prev::after{height:0;width:0;position:absolute;top:calc(50% - 5px);right:calc(50% - 3px);border-width:6px;border-style:solid;border-color:#0000 #494 #0000 #0000;content:"";pointer-events:none}
#next::after{left:calc(50% - 3px);right:0;border-color:#0000 #0000 #0000 #494}
#next:not(.inactive):hover::after,#next:not(.inactive) a:focus::after{border-color:#0000 #0000 #0000 #f60}
#next:hover::after,#prev:hover::after,#next:focus::after,#prev:focus::after{transform:scale(1.1)}
#prev:active::after,#next:active::after{transform:scale(.9)}
#prev:not(.inactive):hover::after,#prev:not(.inactive) a:focus::after{border-color:#0000 #f60 #0000 #0000}
#showing{margin-left:6px}

/* headings */
h3{padding:7px 10px;letter-spacing:.18em;word-spacing:.1em;font-size:10pt;font-weight:700;text-transform:uppercase;text-shadow:0 0 2px #001100;color:var(--ink);border:var(--border);box-shadow:var(--bevel);-webkit-text-stroke:var(--stroke)}
h4{display:none;}
.headline{margin-top:-14px}
.headline h3{padding:10px 5px 10px 35px;text-transform:uppercase;font-size:11.5pt;background:var(--addressbook) no-repeat 9px center/20px,var(--title)}
.headline h3{margin-top:-10px}
.headline h3:first-child{margin-bottom:24px}
.headline h3::first-letter{font-size:115%}
.headline#subscriptions h3{background:var(--subscription) no-repeat 9px center/18px,var(--title)}
.headline#subscriptions h3 span{float:right}
.headline#subscriptions h3 span a{margin:4px 4px 0 0;display:inline-block;font-size:80%}
.headline#configure h3{background:var(--config) no-repeat 9px center/20px,var(--title)}
.headline h3:first-child+h4{margin-top:-25px;margin-bottom:26px}
#addressbook.headline h3{padding-right:44px;contain:paint}
#addressbook.headline{position:relative}
#add h3,#import h3{margin:-6px -1px 15px;padding:8px 10px 8px 34px;font-size:11pt;background:var(--add) no-repeat 10px center/14px,var(--title)}
#import h3{background:var(--download) no-repeat 10px center/16px,var(--title)}
#dtls .headline h3:first-child{margin-bottom:28px}
#subsLog #subscriptions h3 span{margin:3px 6px 0 0;display:inline-block;text-transform:none;letter-spacing:0;word-spacing:0;font-weight:500;font-size:85%;opacity:.85}

/* host list */
.addrhlpr{font-size:9pt}
td.checkbox{padding:3px 10px;width:1%}
.info img{padding:2px;width:24px;height:24px;vertical-align:middle;border:var(--border);border-radius:1px;background:#000;image-rendering:crisp-edges}
.info img:hover,.info a:focus img{border:1px solid #f60;background:#d30}
.info a:active img,.info a:focus img{transform:rotate(45deg) scale(.6)}
.names a[href$=".i2p/"],#host_list td.b32link a,#host_list td.helper a{width:100%;display:inline-block;vertical-align:middle}
.destaddress:hover,textarea:hover{scrollbar-color:rgba(24,80,24,.9) rgba(0,0,0,.9)}
.destaddress::selection{background:rgba(255,255,0,.99)}
.destaddress,textarea{scrollbar-color:rgba(16,48,16,.4) #0000}
#book+#buttons{margin-top:3px;padding:0 0 10px;border:var(--border)}
#book,#emptybook{margin:-29px 0 -5px;padding:0}
#empty{margin-top:-4px;width:100%;border-bottom:var(--border)}
#emptybook{margin-bottom:-7px}
#book input[type=checkbox]{margin:0}
#book p,p.messages{font-size:10pt}
#book table{width:100%;border:var(--border);border-collapse:separate}
#book table th{font-size:90%;border-bottom:var(--border)}
#book th:last-child{background:var(--nuke) no-repeat center center/15px}
#book tr.head{background:linear-gradient(180deg,#0000 50%,#000 50%),repeating-linear-gradient(90deg,rgba(0,0,0,.5) 2px,rgba(0,16,0,.5) 4px),linear-gradient(180deg,#002000,#000 75%);background-size:100%,4px 100%,100%}
#host_list tr,#host_details tr{background:#010 var(--row)}
#host_list th{padding:6px 9px}
#host_list td{padding:4px 8px;border-right:1px solid #131;border-bottom:1px solid #131;box-shadow:var(--highlight),inset 0 0 2px 0 #040}
#host_list tr:hover td{border-right:1px solid #0000;box-shadow:none}
#book tr:hover td{background:#001a00}
#book tr:hover td:last-child{border-right:0}
#book tr:hover td textarea{color:var(--ink)}
#host_list .info{padding:4px;width:1%;text-align:center}
#host_list{margin-top:28px}
#host_list .names{width:30%;white-space:nowrap}
#host_list .checkbox{width:21px;white-space:nowrap;text-align:center;font-weight:700;border-right:0}
#host_list td:hover{box-shadow:inset 0 0 0 1px #930;background:#000}
#host_list .b32link,#host_list .helper{width:5%;min-width:72px;white-space:nowrap;text-align:center}
#host_list td.b32link a,#host_list td.helper a{font-size:0;filter:drop-shadow(0 0 1px #353)}
#host_list td.b32link a::after{width:16px;height:16px;display:inline-block;text-align:center;background:var(--link) no-repeat center center/16px;content:"";cursor:pointer}
#host_list td.helper a::after{width:16px;height:16px;display:inline-block;background:var(--helper) no-repeat center center/16px;background-size:16px;cursor:pointer;content:""}
#host_list td.b32link a:hover,#host_list td.helper a:hover,#host_list td.b32link a:focus,#host_list td.helper a:focus{filter:drop-shadow(0 0 1px #f60);transform:scale(1.2)}
#host_list .destaddress{padding:6px 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:400;user-select:all}
#host_list .destaddress:hover,#host_list .destaddress:focus{text-overflow:clip}
td.destinations{max-width:50px;padding:1px 8px}
#host_list tr:hover td.destinations{color:#bb0}

/* search/filter */
#search{margin:-25px 0 0;padding:0 10px;border:var(--border);box-shadow:var(--bevel)}
#booksearch input[type=text],#booksearch input[type=submit]{animation:fade-in .5s ease 1s both}
#booksearch input[type=text]{padding:7px 8px;min-width:280px;border-radius:1px 0 0 1px;box-shadow:none}
#booksearch input[type=text]:focus{border:1px solid var(--hover);filter:none;}
#booksearch input[type=submit]{margin-left:-16px;width:40px;min-width:0;position:relative;z-index:10;overflow:hidden;color:#0000;text-shadow:none;-webkit-text-stroke:0;border:0;border-radius:0 1px 1px 0;background:#000 var(--search) no-repeat center center/14px}
#booksearch input[type=submit]:hover,#booksearch input[type=submit]:focus,#booksearch input[type=text]:focus~input[type=submit]{border:0;box-shadow:inset 0 0 0 1px var(--hover),inset 0 0 0 2px #000,inset 0 0 3px 1px rgba(255,96,0,.8),inset 0 0 5px 0 rgba(255,96,0,.8),inset 0 0 0 4px #000}
#booksearch input[type=submit]:active{box-shadow:inset 0 0 0 1px var(--hover),inset 0 0 0 2px #000,var(--btn_shadow_active);background:var(--hover) var(--search) no-repeat center center/14px;background-blend-mode:luminosity}
#booksearch{padding:6px;text-align:center}
#booksearch input{vertical-align:middle;line-height:1.3}
#filter{margin-top:-1px;padding:15px 5px;border:var(--border);text-align:center;background:#001000}
#filter a,#activefilter{margin:1px 0 2px;padding:2px 8px;min-width:12px;display:inline-block;line-height:1.6;white-space:nowrap;text-transform:capitalize;font-size:105%;box-shadow:0 0 0 1px #030,0 0 2px 1px rgba(0,0,0,.8),var(--highlight);background:var(--th)}
#filter a:hover,#filter a:focus{text-decoration:none;color:#f60;text-shadow:0 1px 1px rgba(0,0,0,.8);box-shadow:0 0 0 1px #030,var(--highlight),inset 0 0 0 2px #930;background:#030;transform:scale(1.15)}
#filter a:active{color:#930;box-shadow:0 0 0 1px #252,var(--btn_shadow_active);transform:scale(.95)}
#filter span a{padding:2px 6px;display:inline-block;font-size:8.5pt}
#filter p:first-child{padding-bottom:0}
#filter p{margin:8px 0 -8px;padding:0 10px;line-height:2.1;word-spacing:.1em;font-weight:700;text-align:center;text-transform:capitalize}
p#filtered{margin:-27px 0 10px;padding:12px 10px 8px 20px;font-size:10pt;box-shadow:var(--highlight),inset 0 0 2px 1px #030;background:repeating-linear-gradient(180deg,rgba(0,0,0,.8),rgba(0,16,0,.6) 1px,rgba(0,16,0,.6) 2px),url(/themes/console/dark/images/camotile2.png)}
#activefilter,.selected{font-weight:700;color:#999;box-shadow:var(--btn_shadow_active)!important}
#activefilter{margin:1px 1px 2px;padding:3px 10px 2px;color:var(--ink);text-shadow:0 -1px 1px rgba(0,0,0,.8);box-shadow:0 0 0 1px #252,var(--btn_shadow_active)!important;background:#030}

/* add/import/export */
#add,#import{margin-top:23px;padding:0 0 10px;border:var(--border);box-shadow:var(--bevel);background:var(--th)}
#import{margin-top:18px}
#add table,#import table{margin:-15px auto -4px;padding:6px 3px;width:100%;border-collapse:separate;border-spacing:0}
#add input[type=text],#import input[type=file]{width:calc(100% - 20px)}
#add .buttons,#import .buttons{margin:5px 0 -10px;padding:5px 5px 4px;border-top:var(--border)}
#add td:first-child,#import td:first-child{width:100px;white-space:nowrap;text-align:right}
#add td:last-child,#import td:last-child{padding-right:5px}
#import input[type=file]{border:0;background:none}
#exporthosts:disabled{pointer-events:none;opacity:.5}
#export{padding-left:3px;height:44px;position:absolute;top:2px;top:0;right:1px;border-left:var(--border);contain:paint}

/* host details page */
#dtls.iframed #page::after{height:1px;display:block}
#host_details.book{margin-top:-25px}
#host_details .destaddress{margin-right:5px;word-break:break-all;white-space:normal;user-select:all}
#host_details tr{box-shadow:var(--highlight),inset 0 -1px 0 1px #000,inset 0 0 2px 1px #030,inset 0 -1px 2px 1px #030}
#host_details td{padding:8px 5px 8px 10px;border-bottom:1px solid #131}
#host_details td:first-child{padding-right:0;width:1%;white-space:nowrap;vertical-align:top;font-weight:700;text-align:right}
#host_details td:last-child{text-align:left;border-left:0;border-right:0}
#host_details td.destinations{background:none}
#host_details b{margin:0 6px 0 10px}
#lastMod:empty::before{content:"n/a"}
#hostNotes td:last-child{padding:0 0 1px}
#hostNotes:hover td{background:#0000}
#hostNotes td:last-child input[type=submit]{margin:12px 10px 15px;float:right;display:none}
#hostNotes td:last-child textarea:focus+input[type=submit]{display:inline-block}
#addNotes{margin:0;padding:7px 8px;height:72px;font-size:9pt;font-weight:400;border:0;border-radius:0;box-shadow:none;background:#0000}
#addNotes:hover,#addNotes:focus{border-right:0;border-left:0;box-shadow:inset 0 0 0 1px rgba(255,96,0,.5);background:#000}
#addNotes::placeholder{font-style:italic}
#addNotes:focus::placeholder{color:#0000}
#addNotes:placeholder-shown:valid:not(:focus){height:36px!important;min-height:36px}
#idAddress{text-transform:none;letter-spacing:0}

/* configure */
#config+#buttons,#content+#buttons{margin-top:-3px;margin-bottom:10px;padding:7px 5px 5px;border:var(--border);background:#000}
#config>textarea,#content>textarea,#subsLog ul{margin:-27px 0 0;padding:6px 12px;border-radius:0}
#config>textarea:focus,#content:focus{border:var(--border);box-shadow:var(--highlight),inset 4px 4px 4px rgba(0,0,0,.5);filter:none}
#helpconfig{background:var(--help);background-size:4px 100%}
#helpconfig li b{color:#990}
#helpconfig li{margin:0 3px}
#helpconfig ul{margin:0 0 -5px -40px;display:block;columns:2 500px;column-gap:40px}

/* subscriptions */
#sbs h3 a{margin-right:4px;float:right;font-size:80%}
#subsLog ul{margin:-25px 0 0;padding:0;width:calc(100% - 2px);height:auto;display:inline-block;color:#bb7;border:var(--border);background:#000}
#subsLog li{padding:2px 8px 2px 0;line-height:1.3;list-style:none;font-family:var(--monospaced);font-size:9.5pt;font-weight:500;transition:ease .15s background}
#subsLog li:nth-child(odd){background:#010}
#subsLog li:hover{background:#282800;transition:ease .15s background}
#subsLog .date{margin:2px -2px 2px 4px;padding:1px 8px;display:inline-block;box-shadow:var(--highlight);background:var(--badge)}

/* imagegen */
img[src="/imagegen/id?s=256&c="],img[src="/imagegen/id?s=20&c="]{opacity:0}
.identicon {margin:0 1px;padding:1px;vertical-align:middle;box-shadow:0 0 0 1px #000,0 0 0 2px #252;background:#000}
.identicon>path{transform-origin:center center;animation:scaledown .2s ease .15s both}
.info a:hover .identicon{box-shadow:0 0 0 1px #000,0 0 0 3px var(--hover),var(--highlight)}
.info a:active .identicon{box-shadow:0 0 0 1px #000,0 0 0 3px var(--hover),var(--btn_shadow_active);background:linear-gradient(180deg,#9307,#b307);transform:scale(0.9)}
.info a:hover .identicon>path{transform:scale(1.4);transition:ease all .2s;animation:none}
td>img[width="320"],td>img[src^="/imagegen"],#visualid .identicon{margin:10px 3px;padding:5px;vertical-align:middle;border-radius:1px;border:var(--border);box-shadow:var(--highlight);background:#000}
#visualid h3{margin:19px 0 -1px}
#visualid table{width:100%;border:var(--border);border-collapse:collapse;border-spacing:0;background:#000900}
#visualid td{text-align:left}
#visualid td:first-child{text-align:right}
#visualid td[colspan="2"]{padding:15px 3px;border-top:var(--border)}
#visualid tr:last-child{background:#000}
#visualid tr td,#visualid tr:hover td{border-left:0;border-right:0;border-bottom:var(--border);box-shadow:none;background:#010;background:repeating-linear-gradient(180deg,rgba(0,0,0,.8),rgba(0,16,0,.5) 1px,rgba(0,16,0,.5) 2px),url(/themes/console/dark/images/camotile2.png)}
#visualid tr:first-child td{padding:15px 5px}
#visualid tr:last-child td{padding:18px 6px;border:0}

/* help */
.help h3:first-child{margin-top:-21px}
.help h3{margin:10px -31px}
.help{padding:20px 30px;border:var(--border)}
.help ul li:last-child{margin-bottom:-10px}
#content{padding:0 0 10px}
#content+#buttons{margin-top:-13px}
#content h3{padding-top:5px;padding-bottom:5px}
#content h3:first-child{margin-top:-15px}
#content h3::first-letter{font-size:114%}
#content h3{padding-left:34px;letter-spacing:.12em;word-spacing:.1em;border:var(--border);background:var(--question) no-repeat 8px center,linear-gradient(180deg,#0000 50%,#000 50%),repeating-linear-gradient(90deg,rgba(0,0,0,.5) 2px,rgba(0,16,0,.5) 4px),linear-gradient(180deg,#004000,#000 75%);background-size:18px,100%,4px 100%,100%}
#content p{margin-bottom:8px;padding:0 10px;line-height:1.6;font-size:110%}
#ovrvw #content{padding:10px 10px 20px}
#helpsubs{padding:15px 0 10px 40px;background:var(--infohelp) no-repeat 15px center,var(--help);background-size:32px,4px 100%}
#helpsubs p{padding:15px;line-height:1.3;border:0}

/* svg */
.illustrate{margin:20px auto 10px;padding:0 11px;max-width:700px;height:auto;font-size:10pt;border:var(--border);border-radius:4px;box-shadow:var(--highlight),inset 0 0 2px 1px #242;background:#000;opacity:.8}
.illustrate:hover{opacity:1}
#ovrvw p:last-of-type::after{margin:20px 0 25px;width:100%;height:1px;display:block;background:#131;background:linear-gradient(90deg,#0000 15%,#131,#0000 85%);content:"";filter:drop-shadow(0 1px 1px #000)}
svg #space,svg .subs{fill:#010;stroke:#242}
svg .subs{filter:drop-shadow(0 0 1px #000)}
svg .a.tooltip,svg .private{fill:#030;stroke:#272}
svg path.a.tooltip:not(:hover){fill:#272;stroke:#000;stroke-width:2px}
svg .privatezone{fill:none;stroke-width:2px}
svg tspan{fill:var(--ink)}
svg tspan.c{font-weight:400}
svg tspan:hover,svg .tooltip:hover .g{fill:#252;cursor:help}
svg a tspan:hover,svg #sublist:hover #hovershow,svg .a.tooltip:hover+.b>tspan,svg .a.private:hover+.b>tspan,svg a:hover .g{fill:#f60;cursor:pointer}
svg path.a.tooltip{cursor:help}
svg rect.tooltip.a,svg path.a.tooltip.link,input[type=checkbox]{cursor:pointer}
svg rect.tooltip,svg .private{filter:drop-shadow(0 1px 1px #f50)}
svg text{filter:drop-shadow(0 1px 1px #000)}
svg path.link,svg a tspan{filter:drop-shadow(0 0 1px rgba(255,80,0,.6))}
svg #hover stop:first-child,svg #hover2 stop:first-child{stop-color:#040}
svg #hover stop:last-child,svg #hover2 stop:last-child{stop-color:#010}
svg #arrow stop:first-child{stop-color:#070}
svg #arrow stop:nth-child(2){stop-color:#030}
svg #arrow stop:last-child{stop-color:#010}

/* notifications */
#messages:empty{display:none}
#messages:hover{cursor:crosshair;background-blend-mode:normal}
#messages{padding:18px 20px 20px;width:calc(100% - 66px);position:absolute;top:0;z-index:999;line-height:1.2;font-weight:700;border:var(--border);box-shadow:var(--highlight);background:#020 url(/themes/snark/dark/images/delete.png) right 6px top 6px no-repeat;background-blend-mode:luminosity}
#messages p{margin:0;padding:15px 15px 15px 50px;color:var(--ink);border-radius:0;background:car(--infohelp) no-repeat 6px center;background-size:32px}
#messages+p,p.book{padding:20px 20px 20px 50px;border:var(--border);box-shadow:var(--highlight),inset 0 0 2px 1px #030;background:#000 var(--addressbook) no-repeat 10px center/20px}

/* iframe */
.iframed #helpconfig,.iframed #helpsubs{margin:13px 0 -1px}
.iframed #page{margin:0;padding:0 12px;background:#0000}
.iframed #page::after{content:"";display:inline-block;width:100%;height:14px;vertical-align:bottom}
.iframed #visualid{margin-top:16px;margin-bottom:16px}

@keyframes fade-in{from{filter:opacity(0)}to{filter:opacity(1)}}
@keyframes scaledown{from{transform:scale(3)}to{transform:scale(1)}}

@media (max-width:1200px){
.names a[href$=".i2p/"]{max-width:260px;overflow:hidden;text-overflow:ellipsis}
#current{padding:2px 10px;display:inline-block;font-size:10pt}
#filter a{margin:3px 1px;padding:0 4px}
#filtered,#results{font-size:9.5pt}
#filter{padding:9px 4px 8px}
#exporthosts{margin-top:6px}
#paginate{margin:0 6px 0 2px}
#prev.inactive::after,#next.inactive::after{top:calc(50% - 6px)}
#prev,#next,#current{font-size:10pt}
#subsLog li{font-size:9pt}
.iframed #prev::after,.iframed #next::after{top:calc(50% - 5px)}
.iframed #prev a,.iframed #next a{padding:11px 16px}
}

@media (max-width:1000px){.illustrate{margin:15px auto 10px;width:90%;min-width:450px}}

@media (max-width:710px){
#navi a.abook,#navi a#overview,#navi a#subs,#navi a#configlink{padding:5px 8px;background:linear-gradient(180deg,#020 50%,#000 50%)}
#navi a.abook:hover,#navi a#overview:hover,#navi a#subs:hover,#navi a#configlink:hover,#navi a.abook:focus,#navi a#overview:focus,#navi a#subs:focus,#navi a#configlink:focus{padding:5px 8px;background:#000}
#navi a.abook:active,#navi a#overview:active,#navi a#subs:active,#navi a#configlink:active{background:#f60}
#subsLog .subhost{display:none}
}

@media (min-width:1200px){
#content h3{padding-top:8px;padding-bottom:8px}
}

@media (min-width:1400px){
body,input[type=submit],input[type=reset],.fakebutton,input,select,h4,td.names a,li,#filter a,#filter span a,#host_details td,th,#search td,.destaddress{font-size:9.5pt}
p,#content p{font-size:10pt}
textarea,th{font-size:9pt}
#navi{padding:6px 5px}
#navi a.abook,#navi a.abook:hover,#navi a.abook:focus,#navi a.abook:active,#navi a#overview,#navi a#overview:hover,#navi a#overview:focus,#navi a#overview:active,#navi a#subs,#navi a#subs:hover,#navi a#subs:focus,#navi a#subs:active,#navi a#configlink,#navi a#configlink:hover,#navi a#configlink:focus,#navi a#configlink:active,#navi a.selected,#navi a[class].selected,#navi a[id].selected{padding:8px 10px 8px 29px!important;letter-spacing:.1em;font-size:10pt;background-position:10px center!important}
h3{font-size:12pt}
#filter a{margin:0 2px -2px;min-width:14px}
#filter{background:linear-gradient(90deg,#000,#001000 10%,#001000 90%,#000)}
form[action="addressbook"]>p.buttons{margin-bottom:-20px}
textarea[name="config"]{height:280px}
}

@media (min-width:1500px){
body,input[type=submit],input[type=reset],input[type=file]::file-selector-button,.fakebutton,input,select,h4,td.names a,li,#filter a,#filter span a,td,.destaddress{font-size:10pt}
th,pre{font-size:9pt}
input[type=submit],input[type=reset],.fakebutton{padding:8px 12px 8px}
input[type=text]{padding:8px}
#booksearch input[name=search],#booksearch input[name=search]:focus{padding:7px 8px;min-width:320px}
#host_list td.helper a::after,#host_list td.b32link a::after{width:18px;height:18px;background-size:18px}
}

@media (min-width:1600px){
p,#content p,li,#content li{font-size:10.5pt}
textarea,pre{font-size:9.5pt}
}

/* add/import panel toggles */
main {position:relative}
.displayPanels main::after{display:block;position:absolute;top:0;left:0;bottom:0;right:0;z-index:1000;background:linear-gradient(180deg,#0005,#000a 200px);content:"";pointer-events:none;will-change:transform}
.displayPanels #add, .displayPanels #import{margin:0;position:absolute;z-index:1500;top:-13px;left:0;right:0;filter:drop-shadow(0 4px 5px #000);animation:slideDown 1s ease-out 0s both;will-change:transform}
.iframed .displayPanels #add,.iframed .displayPanels #import{top:-9px;left:-13px;right:-13px}
#navi{position:relative;z-index:2000}
#paginate{margin-right:68px}
#export a{margin:7px 0 0 3px;padding:0;height:26px;width:26px;min-width:0;display:inline-block;vertical-align:middle;line-height:0;font-size:0}
#export #addNewDest{background:var(--add) no-repeat center center/14px,var(--th)}
#export #addNewDest:hover{background-image:var(--add_hover)}
#export #importFromFile{margin-right:-8px;background:var(--download) no-repeat center center/14px,var(--th)}
#export #importFromFile:hover{background-image:var(--download_hover)}
#exporthosts{transform:rotateX(180deg)}
@keyframes slideDown{from{transform:translateY(-800px)}to{transform:translateY(0)}
